.gradle/
.idea/
.vs/
AGK/apps/interpreter_android_google/AGKPlayer2/build
AGK/apps/interpreter_android_amazon/AGKPlayer2/build
AGK/apps/interpreter_android_ouya/AGKPlayer2/build
AGK_Build/External/android-ndk-r20b
AGK/tools/AGKBuildSystem/Windows/Final/AGKBuild.exe
AGK/tools/AGKBuildSystem/Windows/Final/AGKBuild.pdb
AGK/tools/AGKBuildSystem/Windows/Debug64
AGK/CommandParserNew/Release64
AGK/CommandParserNew/Final/CommandParser.exe