<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>AGK Player</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>com.thegamecreators.agk2player</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb358083327620324</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>FacebookAppID</key>
	<string>358083327620324</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookAutoInitEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>snapchat</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Advertisement would like to create a calendar event</string>
	<key>NSCameraUsageDescription</key>
	<string>Streaming the camera feed into the app</string>
	<key>NSLocationUsageDescription</key>
	<string>Provide your current GPS coordinates to the app</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Provide your current GPS coordinates to the app</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Selecting photos to load into the app</string>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationPortrait</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Add image to the camera roll</string>
	<key>SCSDKClientId</key>
	<string>1cec1943-35cc-49ed-b25e-61c4a9d7e10a</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Provide your current GPS coordinates to the app</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Provide your current GPS coordinates to the app</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
